bin/
out/
gen/
target/
R.java
.settings/
*.class
lib/org.apache.commons.net/apidocs/
lib/org.apache.commons.net/examples/
lib/org.apache.http.entity/examples/
lib/org.apache.http.entity/javadoc/
lib/org.apache.http.entity/tutorial/

local.properties
*.apk
*.ap_
*.dex

test.xml
DEPLOYMENT/
KEYSTORE/
images/
ucdetector_reports/
GPSLogger/gen-external-apklibs/


workspace.xml
tasks.xml
